html {
  font-family: "Open Sans", sans-serif; /*设定字体为 Open Sans */
  background-color: black; /*设定背景颜色为黑色*/
}

/*设置h1字体大小为60px，颜色为白色，居中*/
h1 {
  font-size: 60px;
  color: white;
  text-align: center;
}

/*设置body大小为800px，居中；字体大小为30px，颜色为白色*/
body {
  width: 800px;
  margin: 0 auto;
  font-size: 30px;
  color: white;
}
